@model GymTracker.Models.TrainingPlan

<h2>Details of Training Plan</h2>

<h4>Exercises</h4>
<table>
    <thead>
    <tr>
        <th>Exercise</th>
        <th>Sets</th>
        <th>Repetitions</th>
        <th>Weight</th>
    </tr>
    </thead>
    <tbody>
    @foreach(var exercise in Model.ExercisePlans)
    {
        <tr>
            <td>@exercise.Exercise.Name</td>
            <td>@exercise.Sets</td>
            <td>@exercise.Repetitions</td>
            <td>@exercise.Weight kg</td>
        </tr>
    }
    </tbody>
</table>

<a href="@Url.Action("Edit", "TrainingPlans", new { id = Model.Id })">Edit</a> |
<a href="@Url.Action("Index", "TrainingPlans")">Back to List</a>